
@font-face {
    font-family: 'kg_sorry_not_sorryregular';
    src: url('../fonts/kgsorrynotsorry-webfont.woff2') format('woff2'),
         url('../fonts/kgsorrynotsorry-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kg_sorry_not_sorry_chubRg';
    src: url('../fonts/kgsorrynotsorrychub-webfont.woff2') format('woff2'),
         url('../fonts/kgsorrynotsorrychub-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.test-font {
	font-family: "kg_sorry_not_sorryregular";
	font-size: 15px;
	/*font-family: "kg_sorry_not_sorry_chubRg";*/
}
